/* Global Styles */
html { font-family: Arial, sans-serif; text-align: center; margin: auto; }
h1 { font-size: 2.5rem; margin-bottom: 1rem; }
nav a { font-size: 1.2rem; color: #0078D7; text-decoration: none; margin: 0 0.5rem; }
nav a:hover { text-decoration: underline; }

/* Header Styles */
.dc-page-title { color: #059e8a; }
.dc-header-nav { color: #000; }

/* Stats Page Styles */
.dc-stats-container { margin: 1rem auto; }

/* Settings Page Styles */
#dc-settings-form input { margin: 0.5rem 0; display: block; }